// Poppins Regular 400
@font-face {
  font-family: "Poppins Regular";
  src: url("/scss/base/fonts/Poppins/Poppins-Regular.woff");
}

// Poppins Medium 500
@font-face {
  font-family: "Poppins Medium";
  src: url("/scss/base/fonts/Poppins/Poppins-Medium.woff");
}

// Poppins Semi-Bold 600
@font-face {
  font-family: "Poppins Semi-Bold";
  src: url("/scss/base/fonts/Poppins/Poppins-SemiBold.woff");
}

// Poppins Bold 700
@font-face {
  font-family: "Poppins Bold";
  src: url("/scss/base/fonts/Poppins/Poppins-Bold.woff");
}
