// FONTS
$font-primary-regular: "Poppins Regular", sans-serif;
$font-primary-medium: "Poppins Medium", sans-serif;
$font-primary-semi-bold: "Poppins Semi-Bold", sans-serif;
$font-primary-bold: "Poppins Bold", sans-serif;

// COLORS
$color-white-primary: #ffffff;

$color-blue-primary: #242f51;
$color-blue-secondary: #2500f9;
$color-blue-tertiary: #09142e;
$color-blue-quaternary: #273043;

$color-alice-blue-primary: #eaf9ff;
$color-china-ivory-primary: #fff6d3;
$color-rose-white-primary: #fdeee4;

$color-cyan-blue-primary: #002c53;
$color-cyan-blue-secondary: #eff3f8;

$color-blue-other: #2563ff;
$color-blue-magenta-primary: #f4f4ff;

$color-green-primary: #40975f;
$color-green-secondary: #e4ffee;

$color-pink-red-primary: #f55767;
$color-pink-red-secondary: #ffecef;

$color-cyan-primary: #e2eaed;
$color-alice-primary: #f5f7fa;

$color-grey-primary: #616368;
$color-grey-secondary: #4b4a48;
$color-grey-tertiary: #e5e6e5;
$color-grey-quaternary: #ebebeb;
$color-grey-other: #e7e7e7;
$color-grey: #f4f7f9;

$color-orange-primary: #fcae61;
$color-orange-secondary: #feaa25;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;
$wide-screen: 1260px;
$ultra-wide-screen: 1600px;
